[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "*"
altair = "*"
altgraph = "*"
antiorm = "*"
astor = "*"
asttokens = "*"
async-timeout = "*"
attrs = "*"
backcall = "*"
bcrypt = "*"
beautifulsoup4 = "*"
blinker = "*"
cachetools = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
contourpy = "*"
cycler = "*"
db = "*"
db-sqlite3 = "*"
decorator = "*"
executing = "*"
extra-streamlit-components = "*"
faker = "*"
favicon = "*"
fonttools = "*"
frozenlist = "*"
gitdb = "*"
gitpython = "*"
htbuilder = "*"
idna = "*"
importlib-metadata = "*"
ipython = "*"
jedi = "*"
jinja2 = "*"
jsonschema = "*"
kiwisolver = "*"
lxml = "*"
markdown = "*"
markdown-it-py = "*"
markdownlit = "*"
markupsafe = "*"
matplotlib = "~=3.8.2"
matplotlib-inline = "*"
mdurl = "*"
more-itertools = "*"
multidict = "*"
numpy = "~=1.26.2"
packaging = "*"
pandas = "~=2.1.3"
parso = "*"
pefile = "*"
pickleshare = "*"
pillow = "*"
plotly = "*"
prompt-toolkit = "*"
protobuf = "*"
pure-eval = "*"
pyarrow = "*"
pydeck = "*"
pygments = "*"
pygwalker = "*"
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"
pyjwt = "*"
pymdown-extensions = "*"
pympler = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
pytz-deprecation-shim = "*"
pywin32-ctypes = "*"
pyyaml = "*"
requests = "*"
rich = "*"
six = "*"
smmap = "*"
soupsieve = "*"
st-annotated-text = "*"
stack-data = "*"
streamlit = "~=1.29.0"
streamlit-aggrid = "*"
streamlit-authenticator = "*"
streamlit-camera-input-live = "*"
streamlit-card = "*"
streamlit-custom-notification-box = "*"
streamlit-elements = "*"
streamlit-embedcode = "*"
streamlit-extras = "*"
streamlit-faker = "*"
streamlit-image-coordinates = "*"
streamlit-keyup = "*"
streamlit-lottie = "*"
streamlit-option-menu = "*"
streamlit-toggle-switch = "*"
streamlit-vertical-slider = "*"
tenacity = "*"
toml = "*"
toolz = "*"
tornado = "*"
traitlets = "*"
typing-extensions = "*"
tzdata = "*"
tzlocal = "*"
urllib3 = "*"
validators = "*"
watchdog = "*"
wcwidth = "*"
yarl = "*"
zipp = "*"
colorlog = "~=6.8.0"

[dev-packages]

[requires]
python_version = "3.11"
